<!DOCTYPE html>

<html>
    <head>
        <link href="../styles/style.css" rel="stylesheet" type="text/css">
        <title>Bienvenue dans le labyrinthe !</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Bienvenue dans le labyrinthe !</h1>

        <div class="game">
            <ul>
                <% for  (var i=-1; i<2; i++){ %>
                    <li>
                    <% for  (var j=-1; j<2; j++){ %>
                        <% var tmp = map[ord+i][abs+j]%>
                        <% if (j == 0){%>
                            <%if(i == 0){ %>
                                <% tmp = 42 %>
                            <% } %>
                        <% } %>

                        <% if (1 == tmp){ %>
                            &#9746
                        <% } %>
                        <% if (0 == tmp){ %>
                            &#9744
                        <% } %>
                        <% if (42 == tmp){ %>
                            &#9785
                        <% } %>

                    <% } %>
                    </li>
                <% } %>
            </ul>

            <ul>
                <li><a href="/goup">✘ UP</a></li>
                <li><a href="/godown">✘ DOWN</a></li>
                <li><a href="/goright">✘ RIGHT</a></li>
                <li><a href="/goleft">✘ LEFT</a></li>
            </ul>
        </div>
    </body>
</html>


<!---9745 -->