<!DOCTYPE html>

<html>
    <head>
        <link href="../styles/style.css" rel="stylesheet" type="text/css">
        <title>Bienvenue dans le labyrinthe !</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        

        <div class="game">
            <% if (map[ord-1][abs-1] == 1){%>
            	<img class="hg" src="../styles/images/mur.png">
            <% } %>
            <%if (map[ord-1][abs-1] == 0){ %>
            	<img class="hg" src="../styles/images/vide.png">
            <% } %>


            <% if (map[ord-1][abs] == 1){%>
            	<img class="hm" src="../styles/images/mur.png">
            <% } %>
            <%if (map[ord-1][abs] == 0){ %>
            	<img class="hm" src="../styles/images/vide.png">
            <% } %>


            <% if (map[ord-1][abs+1] == 1){%>
            	<img class="hd" src="../styles/images/mur.png">
            <% } %>
            <%if (map[ord-1][abs+1] == 0){ %>
            	<img class="hd" src="../styles/images/vide.png">
            <% } %>





            <% if (map[ord][abs-1] == 1){%>
            	<img class="mg" src="../styles/images/mur.png">
            <% } %>
            <%if (map[ord][abs-1] == 0){ %>
            	<img class="mg" src="../styles/images/vide.png">
            <% } %>


            <img class="mm" src="../styles/images/player.png">
            

            <% if (map[ord][abs+1] == 1){%>
            	<img class="md" src="../styles/images/mur.png">
            <% } %>
            <%if (map[ord][abs+1] == 0){ %>
            	<img class="md" src="../styles/images/vide.png">
            <% } %>





            <% if (map[ord+1][abs-1] == 1){%>
            	<img class="bg" src="../styles/images/mur.png">
            <% } %>
            <%if (map[ord+1][abs-1] == 0){ %>
            	<img class="bg" src="../styles/images/vide.png">
            <% } %>


            <% if (map[ord+1][abs] == 1){%>
            	<img class="bm" src="../styles/images/mur.png">
            <% } %>
            <%if (map[ord+1][abs] == 0){ %>
            	<img class="bm" src="../styles/images/vide.png">
            <% } %>


            <% if (map[ord+1][abs+1] == 1){%>
            	<img class="bd" src="../styles/images/mur.png">
            <% } %>
            <%if (map[ord+1][abs+1] == 0){ %>
            	<img class="bd" src="../styles/images/vide.png">
            <% } %>

            <a href="/goup"><img class="up" src="../styles/images/up.png" border="0"></a>
            <a href="/godown"><img class="down" src="../styles/images/down.png" border="0"></a>
            <a href="/goright"><img class="right" src="../styles/images/right.png" border="0"></a>
            <a href="/goleft"><img class="left" src="../styles/images/left.png" border="0"></a>

        </div>
    </body>
</html>


<!---9745 -->