h1
{
    color: red;
}

html {
  background: url("images/background/test2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.game
{
    /*dimensions*/
    width: 30%;
    height: 30%;
    padding: 15px;
    border: 10px solid navy;
    margin: 0;

	/*position*/
    position: fixed;
    left: 35%;
    top: 30%;

    background: url("images/sand.png");
}

img.hg
{
	position: absolute;
	width: 18.75%;
	height: 33.3%;

	left: 0%;
	top: 0%;
}

img.hm
{
	position: absolute;
	width: 18.75%;
	height: 33.3%;

	left: 18.75%;
	top: 0%;
}

img.hd
{
	position: absolute;
	width: 18.75%;
	height: 33.3%;

	left: 37.5%;
	top: 0%;
}






img.mg
{
	position: absolute;
	width: 18.75%;
	height: 33.3%;

	left: 0%;
	top: 33.3%;
}

img.mm
{
	position: absolute;
	width: 18.75%;
	height: 33.3%;

	left: 18.75%;
	top: 33.3%;
}

img.md
{
	position: absolute;
	width: 18.75%;
	height: 33.3%;

	left: 37.5%;
	top: 33.3%;
}






img.bg
{
	position: absolute;
	width: 18.75%;
	height: 33.3%;

	left: 0%;
	top: 66.6%;
}

img.bm
{
	position: absolute;
	width: 18.75%;
	height: 33.3%;

	left: 18.75%;
	top: 66.6%;
}

img.bd
{
	position: absolute;
	width: 18.75%;
	height: 33.3%;

	left: 37.5%;
	top: 66.6%;
}





img.up
{
	position: absolute;
	width: 21.875%;
	height: 20%;

	left: 67.1875%;
	top: 20%;
}

img.down
{
	position: absolute;
	width: 21.875%;
	height: 20%;

	left: 67.1875%;
	top: 60%;
}

img.left
{
	position: absolute;
	width: 21.875%;
	height: 20%;

	left: 56.25%;
	top: 40%;
}

img.right
{
	position: absolute;
	width: 21.875%;
	height: 20%;

	left: 78.125%;
	top: 40%;
}
